#  **Rozwiązanie Zadania: Albumy Wszechczasów**

## Importowanie biblotek i pobieranie danych ze strony internetowej

In [3]:
import pandas as pd

url = 'https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/'

tabele = pd.read_html(url, header=0)

for tabela in tabele:
    if 'TITLE' in tabela.columns:
        df = tabela
        print("Tabela 'The best-selling albums of all time on the Official Chart'")
        print(df.head(10))
        break

Tabela 'The best-selling albums of all time on the Official Chart'
   POS                                 TITLE           ARTIST  YEAR  HIGH POSN
0    1                         GREATEST HITS            QUEEN  1981          1
1    2                  GOLD - GREATEST HITS             ABBA  1992          1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND          BEATLES  1967          1
3    4                                    21            ADELE  2011          1
4    5        WHAT'S THE STORY MORNING GLORY            OASIS  1995          1
5    6                              THRILLER  MICHAEL JACKSON  1982          1
6    7             THE DARK SIDE OF THE MOON       PINK FLOYD  1973          2
7    8                      BROTHERS IN ARMS     DIRE STRAITS  1985          1
8    9                                   BAD  MICHAEL JACKSON  1987          1
9   10                      GREATEST HITS II            QUEEN  1991          1

## Zmiana nazw kolumn na polskie odpowiedniki oraz prezentacja tabeli

In [19]:
df.rename(columns={
    'POS': 'POZYCJA',
    'TITLE': 'TYTUŁ', 
    'ARTIST': 'ARTYSTA', 
    'YEAR': 'ROK', 
    'MAX POS': 'MAX POZ', 
    'HIGH POSN': 'MAX POZ'
}, inplace=True)
df.head(10)

,Pozycja,Tytuł,Artysta,Rok,Max poz
0,1,GREATEST HITS,QUEEN,1981,1
1,2,GOLD - GREATEST HITS,ABBA,1992,1
2,3,SGT PEPPER'S LONELY HEARTS CLUB BAND,BEATLES,1967,1
3,4,21,ADELE,2011,1
4,5,WHAT'S THE STORY MORNING GLORY,OASIS,1995,1
5,6,THRILLER,MICHAEL JACKSON,1982,1
6,7,THE DARK SIDE OF THE MOON,PINK FLOYD,1973,2
7,8,BROTHERS IN ARMS,DIRE STRAITS,1985,1
8,9,BAD,MICHAEL JACKSON,1987,1
9,10,GREATEST HITS II,QUEEN,1991,1

## Sprawdzamy ilu artystów jest na liście

In [10]:
unikalni_artysci = df['ARTYSTA'].nunique()
print(f'Liczba unikalnych artystów: {unikalni_artysci}')

Liczba unikalnych artystów: 47

## Sprawdzamy które zespoły występują najczęsciej

In [15]:
najczesciej_zespoly = df['ARTYSTA'].value_counts()
print('Zespoły pojawiające się najczęściej na liście:')
print(najczesciej_zespoly[najczesciej_zespoly > 1])

Zespoły pojawiające się najczęściej na liście:
ARTYSTA
TAKE THAT              3
COLDPLAY               3
QUEEN                  2
ADELE                  2
MICHAEL JACKSON        2
ABBA                   2
BEATLES                2
DIDO                   2
ORIGINAL SOUNDTRACK    2
FLEETWOOD MAC          2
ROBBIE WILLIAMS        2
Name: count, dtype: int64

## Edytujemy nagłówki kolumn aby każda zaczynała się wielką literą

In [18]:
df.columns = [col.capitalize() for col in df.columns]
df.head(10)

,Pozycja,Tytuł,Artysta,Rok,Max poz
0,1,GREATEST HITS,QUEEN,1981,1
1,2,GOLD - GREATEST HITS,ABBA,1992,1
2,3,SGT PEPPER'S LONELY HEARTS CLUB BAND,BEATLES,1967,1
3,4,21,ADELE,2011,1
4,5,WHAT'S THE STORY MORNING GLORY,OASIS,1995,1
5,6,THRILLER,MICHAEL JACKSON,1982,1
6,7,THE DARK SIDE OF THE MOON,PINK FLOYD,1973,2
7,8,BROTHERS IN ARMS,DIRE STRAITS,1985,1
8,9,BAD,MICHAEL JACKSON,1987,1
9,10,GREATEST HITS II,QUEEN,1991,1

## Usuwamy z tabeli kolumne "Max poz"

In [20]:
df.drop(columns=['Max poz'], inplace=True)
df.head(10)

   Pozycja                                 Tytuł          Artysta   Rok
0        1                         GREATEST HITS            QUEEN  1981
1        2                  GOLD - GREATEST HITS             ABBA  1992
2        3  SGT PEPPER'S LONELY HEARTS CLUB BAND          BEATLES  1967
3        4                                    21            ADELE  2011
4        5        WHAT'S THE STORY MORNING GLORY            OASIS  1995
5        6                              THRILLER  MICHAEL JACKSON  1982
6        7             THE DARK SIDE OF THE MOON       PINK FLOYD  1973
7        8                      BROTHERS IN ARMS     DIRE STRAITS  1985
8        9                                   BAD  MICHAEL JACKSON  1987
9       10                      GREATEST HITS II            QUEEN  1991

## Sprawdzamy w którym roku wyszlo najwięcej Albumów Wszechczasów

In [ ]:
rok_najwiecej_albumow = df['Rok'].value_counts().idxmax()
print(f'Najwięcej albumów wydano w roku: {rok_najwiecej_albumow}')

Najwięcej albumów wydano w roku: 1987

## Sprawdzamy ile albumów zostało wydanych między rokiem 1960 a 1990

In [23]:
albumy_1960_1990 = df[(df['Rok'] >= 1960) & (df['Rok'] <= 1990)]
print(f'Liczba albumów wydanych między 1960 a 1990 rokiem: {len(albumy_1960_1990)}')

Liczba albumów wydanych między 1960 a 1990 rokiem: 22

## Sprawdzamy w którym roku został wydany najmłodszy album

In [24]:
najmlodszy_album_rok = df['Rok'].max()
print(f'Najmłodszy album został wydany w roku: {najmlodszy_album_rok}')

Najmłodszy album został wydany w roku: 2015

## Lista najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [26]:
najwczesniejsze_albumy = df.sort_values('Rok').drop_duplicates(subset='Artysta', keep='first')
print('Najwcześniej wydane albumy każdego artysty:')
print(najwczesniejsze_albumy[['Artysta', 'Tytuł', 'Rok']])

Najwcześniej wydane albumy każdego artysty:
                     Artysta                                   Tytuł   Rok
51   ORIGINAL CAST RECORDING                      THE SOUND OF MUSIC  1965
2                    BEATLES    SGT PEPPER'S LONELY HEARTS CLUB BAND  1967
20         SIMON & GARFUNKEL              BRIDGE OVER TROUBLED WATER  1970
6                 PINK FLOYD               THE DARK SIDE OF THE MOON  1973
41             MIKE OLDFIELD                           TUBULAR BELLS  1973
45                      ABBA                           GREATEST HITS  1975
18                 MEAT LOAF                         BAT OUT OF HELL  1977
10             FLEETWOOD MAC                                 RUMOURS  1977
46       ORIGINAL SOUNDTRACK                                  GREASE  1977
36                JEFF WAYNE                   THE WAR OF THE WORLDS  1978
0                      QUEEN                           GREATEST HITS  1981
5            MICHAEL JACKSON                                THRILLER  1982
15  BOB MARLEY & THE WAILERS                                  LEGEND  1984
7               DIRE STRAITS                        BROTHERS IN ARMS  1985
50                PAUL SIMON                               GRACELAND  1986
35                        U2                         THE JOSHUA TREE  1987
43             TRACY CHAPMAN                           TRACY CHAPMAN  1988
38              PHIL COLLINS                           BUT SERIOUSLY  1989
11                   MADONNA               THE IMMACULATE COLLECTION  1990
13                SIMPLY RED                                   STARS  1991
59                       REM                AUTOMATIC FOR THE PEOPLE  1992
40         ALANIS MORISSETTE                      JAGGED LITTLE PILL  1995
4                      OASIS          WHAT'S THE STORY MORNING GLORY  1995
28               SPICE GIRLS                                   SPICE  1996
27                     CORRS                         TALK ON CORNERS  1997
14              SHANIA TWAIN                            COME ON OVER  1997
17                     VERVE                             URBAN HYMNS  1997
47           ROBBIE WILLIAMS                 I'VE BEEN EXPECTING YOU  1998
52            GEORGE MICHAEL        LADIES & GENTLEMEN - THE BEST OF  1998
25                DAVID GRAY                            WHITE LADDER  1998
42                    TRAVIS                             THE MAN WHO  1999
54                    EMINEM                 THE MARSHALL MATHERS LP  2000
24                      DIDO                                NO ANGEL  2000
44                  COLDPLAY                              PARACHUTES  2000
49               NORAH JONES                       COME AWAY WITH ME  2002
37           SCISSOR SISTERS                         SCISSOR SISTERS  2004
34                     KEANE                         HOPES AND FEARS  2004
16               JAMES BLUNT                          BACK TO BEDLAM  2004
58                 TAKE THAT  NEVER FORGET - THE ULTIMATE COLLECTION  2005
12             AMY WINEHOUSE                           BACK TO BLACK  2006
57               SNOW PATROL                               EYES OPEN  2006
22               LEONA LEWIS                                  SPIRIT  2007
32             KINGS OF LEON                       ONLY BY THE NIGHT  2008
29                 LADY GAGA                                THE FAME  2008
23             MICHAEL BUBLE                              CRAZY LOVE  2009
3                      ADELE                                      21  2011
48                ED SHEERAN                                       X  2014

## Zapisujemy listę do pliku .csv

In [27]:
najwczesniejsze_albumy.to_csv('najwczesniejsze_albumy.csv', index=False)